*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
nav{
    background-color:#22222B;
}
.navigation-link{
    gap: 18px;
}
.works{
    color:#B1B1B7;
    line-height: 24px;
    font-size: 16px;
}
.works:hover{
    color:#FFC000;
}
.button{
    background-color: #FAF3E5;
    padding-right:18px;
    padding-left:18px;
    gap: 10px;
}
.button-name{
    font-size: 14px;
    line-height:20px;
    color: #3C3C4C;
}
.button:hover{
    background-color:#fff;
}
.navbar-toggler:focus{
    outline: none;
    border: none;
}
.nav{
    gap: 42px;
}
.tabs{
    font-size: 16px;
    color: #9D9DA5;
    line-height: 24px;
}
.tabs:hover{
    color: #C55A11;
}
.tabs.active{
    color: #C55A11;
    padding-left:38px;
    padding-right:38px;
}
.active-line{
    height: 4px;
    width: 100%;
    border-radius: 23px;
    background-color: #FFC000;
    margin-top: 14px;
}
.listing{
    background-color: #F5F5F6;
    padding: 21px 0;
}
.arrow-icon{
    padding: 10px;
}
.arrow{
    gap: 15px;
}
.listing-para{
    font-size: 18px;
    line-height: 28px;
    color: #9D9DA5;
}
.btn-content{
    gap: 14px;
}
.promote-btn{
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #C55A11;
    font-size: 18px;
    line-height: 28px;
    border-radius: 8px;
}
.promote-btn:hover{
    background-color:#FFC000;
}
.pencil{
    background-color: #EBEBED;
    padding: 11px;

}
.pencil:hover{
    background-color:#FFC000;
    cursor: pointer;
    fill: #fff;
}
.trash{
    background-color: rgba(255, 59, 48, 0.08);
    padding: 11px;

}
.pencil:hover .pencil-icon{
    stroke:white;
}
.trash:hover .trash-icon{
    stroke: white;
}
.trash:hover{
    background-color:#FFC000;
    fill: #fff;
    cursor: pointer;
}
.write,.dust{
    width: 24px;
    height: 24px;
}
.light-head{
    font-size: 14px;
    line-height: 20px;
    color: #9D9DA5;
}
.bold-head{
    color:#3C3C4C;
    font-size:20px;
    line-height: 30px;
}
.gold-head{
    padding-bottom: 42px;
}
.bold-para{
    color:#3C3C4C;
    font-size:18px;
    line-height: 28px;
}
.project-content{
    gap: 20px;
}
.project-container{
    margin: 42px 0;
}
.img-para{
    font-size: 24px;
    line-height: 32px;
    color:  #FAF3E5;
}
.mines{
    border-radius: 8px;
}
.fa-angle-right{
    color:#777782;
    padding:5px 15px;
    font-size: 24px;

}
.fa-angle-left{
    color:#777782;
    padding:5px 15px;
    font-size: 24px;
}
.project-para{
    color: #9D9DA5;
    font-size: 18px;
    line-height: 28px;
}
.summary-container{
    margin-bottom: 69px;
}
.summary-gap{
    margin-bottom: 27px;
}
.active-rule{
    height: 4px;
    width: 50px;
    background-color: #FFC000;
    margin:auto;
    border-radius: 23px;
}
.tab-container{
    border: 1px solid#E5E5EA;
    border-left:none ;
    border-right: none;
    padding: 18px 0;

}
.location-container{
    padding-top: 36px;
    padding-bottom: 80px;
    background-color: #F5F5F6;
}
.lighter-head{
    color: #5F5F6C;
    font-size: 12px;
    line-height: 18px;
}
.ten{
    margin-bottom: 21px;
    margin-top: 21px;
}
.map-btn{
    padding: 32px;
    margin-left: 38px;
    gap: 12px;

}
.enquire-btn{
    font-size: 18px;
    line-height: 28px;
    padding: 12px 28px;
    background-color: #3C3C4C;
    color: #FAF3E5;
}
.enquire-btn:hover{
    background-color:#FFC000;
    color: #FAF3E5;
}
.save-btn{
    color: #3C3C4C;
    font-size: 18px;
    line-height: 28px;
    padding: 12px 24px;
    background-color: #EBEBED;
}
.save-btn:hover{
    background-color: #FFC000;
    color: white;
}
.map-content{
    background-color: #F5F5F6;
    padding: 12px;
}
.little-para{
    color:  #3C3C4C;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
}
.color-link{
    font-size: 14px;
    line-height: 20px;
}
.opacity-para{
    color: #84848E;
    font-size: 14px;
    line-height: 20px;
}
.form-head{
    font-size: 14px;
    line-height: 20px;
    color:  #3C3C4C;
}
.text{
    height: 124px;
    background-color: #F5F5F6;
    padding: 13px 18px;
}
.send-btn{
    padding: 9px 40px;
    font-size: 18px;
    line-height: 28px;
    background-color: #3C3C4C;
    color: #FAF3E5;
}
.send-btn:hover{
    background-color: #FFC000;
}
footer{
    background-color: #22222B;
    padding:68px 0
}
.linkedin{
    border: 1px #CF783C solid;
    padding: 5px;
    height: 50px;
    width: 50px;
}
::placeholder{
    color: #C5C5C9;
    font-size: 14px;
    letter-spacing: -0.28px;
}

.overlay {
    position: relative;
}
.overlay::before {
    content: "";
    position: absolute;
    background-color:rgba(0, 0,0,0.5);
    border-radius: 8px;
    width: 100%;
    height: 100%;

}
.img-para{
    position: absolute;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu[data-bs-popper]{
    right: 0;
    left: auto;
}
.hover-link{
    color: #fff;
}
.hover-link:hover{
    color: #FFC000;
}
.page-container{
    border-bottom: 1px solid #D8D8DB;
}
.carousel{
    padding-bottom: 14px;
}
.carousel-control-next,.carousel-control-prev{
    width: fit-content;
}
.location-inside{
    padding: 28px;
}
.map-gap{
    gap: 21px;
}
.location-content-inside{
    padding: 18px;
}
.input[checked]{
    background-color: #22222B;
}
.form-label{
    margin-bottom: 10px;
}
.linkedin-icon{
    width: 24px;
    height: 24px;
}
.linkedin:hover{
    background-color:#C55A11;
    border:#22222B;
    cursor: pointer;
}
.linkedin-path{
    fill:#C55A11;
}
.linkedin:hover .linkedin-path{
    fill:#22222B;
}
input[type=checkbox]{
    accent-color: black;
}
.footer-head{
    padding-bottom: 12px;
}
.copy{
    gap: 58px;
}
.footer-content{
    gap: 65px;
}